body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #7f7fd5, #86a8e7, #91eae4);
    color: #ff4d6d;
    text-align: center;
}

.screen {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    display: flex;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 22px;
}

.click {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

#yesBtn {
    background: #ff4d6d;
    color: white;
}

#noBtn {
    background: #ccc;
}

#final {
    background: white;
    border-radius: 20px;
    margin: 40px;
    padding: 40px;
}
